.advantages {
  margin-bottom: -20px;
  padding: 20px;
}

.advantages__header {
  font-size: @font-size-header;

  line-height: @line-height-header;

  margin-top: -3px;
  margin-bottom: 28px;
}

.advantages__list {
  list-style: none;

  margin: 0;
  padding-left: 0;
}

.advantages__item {
  display: flex;

  margin-bottom: 20px;
}

.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  background: @bg-color-green;
}

.advantages__description {
  .block__description-font-arial(@font-size-description, @line-height-description, @text-color-grey);

  width: 220px;

  margin: 0;
  padding-top: 2px;
  padding-left: 20px;
}
