.advantages {
  .block-centered(@mobile-width);

  margin-bottom: 22px;
  padding-top: 17px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.advantages__header {
  font-size: @font-size-header;

  line-height: @line-height-header;

  margin-top: 0;
  margin-bottom: 28px;
}

.advantages__list {
  .list-style-off();

  margin-bottom: -20px;
}

.advantages__item {
  display: flex;

  margin-bottom: 20px;

  &::before {
    content: "";

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
  }

  &--1 {
    &::before {
      background: @bg-color-green url("../img/advantage-leaf@1x.png") 5px 5px no-repeat;
    }
  }

  &--2 {
    &::before {
      background: @bg-color-green url("../img/advantage-powder@1x.png") 5px 4px no-repeat;
    }
  }

  &--3 {
    &::before {
      background: @bg-color-green url("../img/advantage-dining@1x.png") 4px 5px no-repeat;
    }
  }

  &--4 {
    &::before {
      background: @bg-color-green url("../img/advantage-clock@1x.png") 5px 5px no-repeat;
    }
  }
}

.advantages__description {
  .block__description-font(@font-family-arial, @font-size-description, @line-height-description, @text-color-grey);

  width: 220px;

  margin: 0;
  padding-top: 2px;
  padding-left: 20px;
}

@media (min-resolution: @retina-dpi),
  (min-resolution: @retina-dppx) {
  .advantages__item {
    &--1 {
      &::before {
        background: @bg-color-green url("../img/advantage-leaf@2x.png") 5px 5px no-repeat;
        background-size: 50px auto;
      }
    }

    &--2 {
      &::before {
        background: @bg-color-green url("../img/advantage-powder@2x.png") 5px 4px no-repeat;
        background-size: 50px auto;
      }
    }

    &--3 {
      &::before {
        background: @bg-color-green url("../img/advantage-dining@2x.png") 4px 5px no-repeat;
        background-size: 50px auto;
      }
    }

    &--4 {
      &::before {
        background: @bg-color-green url("../img/advantage-clock@2x.png") 5px 5px no-repeat;
        background-size: 50px auto;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    .block-centered(@tablet-width);

    margin-bottom: 82px;
    padding-top: 45px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .advantages__header {
    margin-bottom: 83px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;

    margin-right: -60px;
    margin-bottom: -133px;
  }

  .advantages__item {
    position: relative;

    display: block;

    width: 324px;

    margin-right: 60px;
    margin-bottom: 133px;

    .generate-numbers(4);

    &::before {
      width: 80px;
      height: 80px;

      background-position: 15px 15px;
    }
  }

  .advantages__description {
    .block__description-font(@font-family-arial, @font-size-link, 24px, @text-color-grey);

    width: 250px;

    padding-top: 32px;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    .block-centered(@desktop-width);

    padding: 73px 40px 0;
  }

  .advantages__list {
    margin-right: -80px;
    margin-bottom: -30px;
  }

  .advantages__item {
    width: 245px;
    height: 240px;

    margin-right: 80px;
    margin-bottom: 30px;
  }
}
