.card {
  .block__border-bottom();

  padding-bottom: 24px;

  &--view-all {
    text-align: center;
    padding: 80px 20px 24px;
  }
}

.card__wrapper {
  display: flex;
  align-items: flex-start;

  padding-right: 20px;
  padding-left: 20px;

  &--view-all {
    display: block;

    padding: 0;
  }
}

.card__icon {
  flex-shrink: 0;

  line-height: 0;

  width: 140px;
  height: 144px;

  &--1 {
    background: url("../img/chicken-small-mobile@1x.jpg") no-repeat;
  }

  &--2 {
    background: url("../img/chicken-big-mobile@1x.jpg") no-repeat;
  }

  &--3 {
    background: url("../img/fish-small-mobile@1x.jpg") no-repeat;
  }

  &--4 {
    background: url("../img/fish-big-mobile@1x.jpg") no-repeat;
  }

  &--5 {
    background: url("../img/buckwheat-small-mobile@1x.jpg") no-repeat;
  }

  &--6 {
    background: url("../img/buckwheat-big-mobile@1x.jpg") no-repeat;
  }

  &--7 {
    background: url("../img/rice-small-mobile@1x.jpg") no-repeat;
  }
}

.card__description {
  padding-top: 21px;
}

.card__name {
  font-size: @font-size-link;
  font-weight: normal;

  line-height: @line-height-link;

  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 12px;
  padding-right: 55px;

  &--view-all {
    margin-bottom: 7px;
    padding-right: 0;
  }
}

.card__link {
  color: #000000;
}

.card__parameters {
  width: 100%;
  border-spacing: 0;
}

.card__parameter {
  display: flex;
  .block__description-font(@font-family-arial, 12px, 16px, @text-color-grey);

  &--view-all {
    display: block;

    margin-top: 0;
    margin-bottom: 21px;
  }
}

.card__parameter-value {
  display: block;
  padding: 0;

  &:first-child {
    padding-right: 10px;
  }

  &:last-child {
    margin-left: auto;
  }
}

@media (min-width: @tablet-width) {
  .card {
    margin-right: 60px;
    margin-bottom: 140px;
    padding-bottom: 40px;

    background-color: @bg-color-whitegrey;
    border: none;

    &--view-all {
      padding: 0;

      background-color: #ffffff;

      border: 1px solid #e6e6e6;
    }
  }

  .card__wrapper {
    position: relative;

    display: block;

    width: 324px;

    padding-top: 144px;

    &--view-all {
      width: 322px;

      padding-top: 164px;
    }
  }

  .card__icon {
    position: absolute;

    top: -82px;
    left: 65px;

    width: 195px;
    height: 208px;

    &--1 {
      background: url("../img/chicken-small-tablet@1x.png") 50% bottom no-repeat;
    }

    &--2 {
      background: url("../img/chicken-big-tablet@1x.png") 50% 50% no-repeat;
    }

    &--3 {
      background: url("../img/fish-small-tablet@1x.png") 50% bottom no-repeat;
    }

    &--4 {
      background: url("../img/fish-big-tablet@1x.png") 50% 50% no-repeat;
    }

    &--5 {
      background: url("../img/buckwheat-small-tablet@1x.png") 50% 106% no-repeat;
    }

    &--6 {
      background: url("../img/buckwheat-big-tablet@1x.png") 50% 50% no-repeat;
    }

    &--7 {
      background: url("../img/rice-small-tablet@1x.png") 50% bottom no-repeat;
    }
  }

  .card__name {
    font-size: @font-size-link-bigger;

    text-align: center;

    width: 150px;

    margin: auto;
    padding: 0;

    &--view-all {
      margin-bottom: 26px;
    }
  }

  .card__parameters {
    padding: 25px 17px 25px;
  }

  .card__parameter {
    font-size: @font-size-link;

    margin-bottom: 8px;
    padding-bottom: 7px;

    border-bottom: 1px solid #cdcdcd;

    &--view-all {
      line-height: 18px;

      width: 200px;

      margin: 0 auto 85px;
      padding: 0;

      border: none;
    }
  }

  .card__button {
    width: 200px;
  }
}

@media (min-width: @desktop-width) {
  .card {
    margin-right: 80px;
    margin-bottom: 143px;
  }

  .card__wrapper {
    width: 245px;

    &--view-all {
      width: 243px;
    }
  }

  .card__icon {
    top: -81px;
    left: 25px;

    &--1 {
      background: url("../img/chicken-small-desktop@1x.png") 50% bottom no-repeat;
    }

    &--2 {
      background: url("../img/chicken-big-desktop@1x.png") 50% bottom no-repeat;
    }

    &--3 {
      background: url("../img/fish-small-desktop@1x.png") 50% 102%  no-repeat;
    }

    &--4 {
      background: url("../img/fish-big-desktop@1x.png") 50% 50% no-repeat;
    }

    &--5 {
      background: url("../img/buckwheat-small-desktop@1x.png") 50% bottom no-repeat;
    }

    &--6 {
      background: url("../img/buckwheat-big-desktop@1x.png") -25px -2px no-repeat;
    }

    &--7 {
      background: url("../img/rice-small-desktop@1x.png") 50% bottom no-repeat;
    }
  }

  .card__parameters {
    padding-right: 19px;
    padding-left: 19px;
  }

  .card__name {
    &--view-all {
      margin-bottom: 25px;
    }
  }
}
