.copyright {
  display: flex;

  padding-top: 21px;
  padding-bottom: 10px;
}

.copyright__link {
  .block__description-font(@font-family-arial, @font-size-link, 16px, @text-color-grey);

  margin-top: 10px;
  margin-bottom: 0;
  padding-right: 20px;
}

.copyright__icon {
  width: 41px;
  height: 41px;

  margin-left: auto;

  background: url("../img/htmlacademy.svg") no-repeat;
  background-position-x: 7px;
  background-position-y: -2px;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 173px;

    margin-left: auto;
    padding-top: 2px;
    padding-right: 10px;
  }

  .copyright__link {
    padding-right: 5px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    padding-top: 4px;
  }
}
