.copyright {
  display: flex;

  padding-top: 21px;
  padding-bottom: 10px;

  .copyright__text {
    .block__description-font-arial(16px, 16px, @text-theme-color);

    margin-top: 10px;
    margin-bottom: 0;
    padding-right: 20px;
  }

  .copyright__link {
    width: 41px;
    height: 41px;

    margin-left: auto;

    background: url("../img/htmlacademy.svg") no-repeat;
    background-position-x: 7px;
    background-position-y: -2px;
  }
}
