.copyright {
  display: flex;

  padding-top: 21px;
  padding-bottom: 10px;
}

.copyright__link {
  .block__description-font-arial(@font-size-link, 16px, @text-color-grey);

  margin-top: 10px;
  margin-bottom: 0;
  padding-right: 20px;
}

.copyright__icon {
  width: 41px;
  height: 41px;

  margin-left: auto;

  background: url("../img/htmlacademy.svg") no-repeat;
  background-position-x: 7px;
  background-position-y: -2px;
}
