.header {
  position: relative;

  .block-centered(@mobile-width);
}

.header__nav {
  position: relative;
}

.header__toggle {
  position: absolute;
  top: 23px;
  right: 19px;

  display: block;
  width: 25px;
  height: 25px;

  padding: 0;

  background-color: transparent;

  cursor: pointer;
  border: none;
  outline: none;
}

.header__nav--closed .header__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 2px;

  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
}

.header__nav--opened .header__toggle {
  top: 20px;
  right: 20px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 11px;
    left: 1px;

    width: 24px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header__list {
  .list-style-off();
}

.header__block {
  border-bottom: 1px solid #e6e6e6;

  padding: 22px 10px 23px;

  &--main {
    display: flex;
    padding: 11px 0 14px;
  }
}

.header__link {
  display: block;

  font-size: 20px;
  font-weight: bold;

  line-height: @line-height-link;

  text-align: center;
  text-transform: uppercase;

  color: @text-color-black;
}

.header__logo {
  display: block;

  margin-right: auto;
  margin-left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__img {
  width: 190px;
}

@media (max-width: @mobile-width-only) {
  .header__nav--closed .header__block--secondary {
    display: none;
  }

  .header__nav--nojs .header__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .header {
    .block-centered(@tablet-width);

    padding: 24px 20px 10px 30px;
  }

  .header__nav {
    display: flex;
  }

  .header__toggle {
    display: none;
  }

  .header__list {
    display: flex;
    flex-wrap: wrap;

    width: 482px;

    margin-right: -34px;
    margin-left: auto;
  }

  .header__block {
    border: none;

    padding: 8px 0 0;

    &--main {
      padding-top: 0;
    }

    &--secondary {
      margin-right: 34px;
    }
  }

  .header__link {
    font-size: 18px;
    font-weight: normal;

    line-height: 24.86px;

    padding-top: 10px;
    padding-bottom: 8px;

    &--current,
    &--index-current {
      box-shadow: @bg-color-green 0 2px 0;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .header__logo {
    display: block;

    margin: 0;
    padding: 0;
  }

  .header__img {
    width: 173px;
  }
}

@media (min-width: @desktop-width) {
  @absolute-left: 40px;

  .header {
    .block-centered(@desktop-width);

    padding: 0;
  }

  .header__nav {
    padding: 54px 10px 10px 40px;

    &--index {
      position: absolute;

      z-index: 1;

      top: 54px;
      left: @absolute-left;

      width: @desktop-width - @absolute-left;

      padding-top: 0;
      padding-left: 0;
    }
  }

  .header__list {
    width: 523px;

    margin-right: -14px;
  }

  .header__block {
    margin-right: 35px;
    padding: 10px 0 0 0;

    &--main {
      margin-right: auto;
      padding-top: 0;
      padding-right: 30px;
    }
  }

  .header__link {
    font-size: 20px;

    &--index {
      color: @text-color-white;
    }

    &--index-current {
      box-shadow: #ffffff 0 2px 0;
    }
  }

  .header__img {
    width: 202px;
  }
}
