.header {
  position: relative;

  .block-centered(@mobile-width);
}

.header__nav {
  position: relative;
}

.header__list {
  .list-style-off();
}

.header__block {
  border-bottom: 1px solid #e6e6e6;

  padding: 22px 10px 23px;

  &--main {
    display: flex;
    padding: 17px 0 14px;
  }
}

.header__link {
  display: block;

  font-size: 20px;
  font-weight: bold;

  line-height: @line-height-link;

  text-align: center;
  text-transform: uppercase;

  color: @text-color-black;
}

.header__logo {
  display: block;

  margin-right: auto;
  margin-left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__img {
  width: 190px;
}

@media (min-width: @tablet-width) {
  .header {
    .block-centered(@tablet-width);

    padding: 24px 20px 10px 30px;
  }

  .header__nav {
    display: flex;
  }

  .header__toggle {
    display: none;
  }

  .header__list {
    display: flex;
    flex-wrap: wrap;

    margin-right: -15px;
  }

  .header__block {
    border: none;

    margin-right: 15px;
    padding: 8px 0 0;

    &--main {
      margin-right: 86px;
      padding-top: 0;
    }
  }

  .header__link {
    font-size: 18px;
    font-weight: normal;

    line-height: 24.86px;

    padding: 10px;
  }

  .header__logo {
    display: block;

    margin: 0;
    padding: 0;
  }

  .header__img {
    width: 173px;
  }
}

@media (min-width: @desktop-width) {
  @absolute-left: 40px;

  .header {
    .block-centered(@desktop-width);

    padding: 0;
  }

  .header__nav {
    padding: 54px 10px 10px 40px;

    &--index {
      position: absolute;

      z-index: 1;

      top: 54px;
      left: @absolute-left;

      width: @desktop-width - @absolute-left;

      padding-top: 0;
      padding-left: 0;
    }
  }

  .header__list {
    width: 532px;

    margin-right: -14px;
  }

  .header__block {
    margin-right: 14px;
    padding: 10px 0 0 0;

    &--main {
      margin-right: auto;
      padding-top: 0;
      padding-right: 30px;
    }
  }

  .header__link {
    font-size: 20px;

    &--index {
      color: @text-color-white;
    }
  }

  .header__img {
    width: 202px;
  }
}
