.header {
  .header__list {
    list-style: none;

    padding: 0;
    margin: 0;
  }

  .header__block {
    border-bottom: 1px solid #e6e6e6;

    padding: 22px 10px 23px;

    a {
      display: block;

      font-size: 20px;
      font-weight: bold;

      line-height: 20px;

      text-align: center;
      text-transform: uppercase;

      color: #000000;
    }
  }

  .header__block--main {
    display: flex;

    padding: 11px 0 15px;
  }

  .header__logo {
    padding-left: 20px;
  }

  .header__logo:hover {
    opacity: 0.8;
  }

  .header__logo:active {
    opacity: 0.6;
  }
}
