.promo {
  position: relative;

  padding-bottom: 22px;
}

.promo__wrapper {
  .block-centered(@mobile-width);

  padding: 27px 10px 0;

  /*
  background-color: #63a73a;
  */
  background: url("../img/index-can-mobile@1x.png") 20px 166px no-repeat,
    url("../img/index-background-mobile@1x.jpg") no-repeat;

  color: @text-color-white;
}

.promo__header {
  font-size: @font-size-header;
  font-weight: normal;

  line-height: @line-height-link-bigger;

  text-align: center;

  margin-top: 0;
}

.promo__slogan {
  font-size: @font-size-description;
  font-weight: normal;

  line-height: 14px;

  text-align: center;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 303px;
}

@media (min-width: @tablet-width) {
  .promo {
    .block-centered(@tablet-width);

    margin-bottom: 9px;
    padding-bottom: 0;
  }

  .promo__wrapper {
    width: @tablet-width;

    margin-left: auto;
    padding: 47px 230px 520px 118px;

    /*
    background-color: #63a73a;
    */
    background: url("../img/index-can-tablet@1x.jpg") 29px 248px no-repeat;

    color: @text-color-black;
  }

  .promo__header {
    font-size: @font-size-header-bigger;

    line-height: @line-height-header;

    text-align: left;

    margin-bottom: 41px;
  }

  .promo__slogan {
    font-size: @font-size-link-bigger;

    line-height: @line-height-link;

    text-align: left;

    margin-bottom: 48px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    position: relative;

    width: 100%;
    margin: 0;

    &::before {
      content: "";

      position: absolute;

      top: 0;
      left: 50%;

      z-index: -1;

      width: 50%;
      height: 100%;

      background: #65a93c url("../img/index-background-desktop@1x.jpg") top right no-repeat;
    }
  }

  .promo__wrapper {
    width: @desktop-width;

    padding: 222px 675px 188px 190px;

    background: url("../img/index-can-desktop@1x.png") 560px 142px no-repeat;
  }

  .promo__slogan {
    margin-bottom: 53px;
  }
}
