.social {
  .block__border-bottom();
}

.social__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  padding: 19px 71px 8px;
  margin: 0 0 0 -30px;
}

.social__link {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;

  margin: 0 0 10px 30px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--vkontakte::before {
    background-image: url("../img/icon-vk.svg");
    background-size: 22px 12px;
  }

  &--instagram::before {
    background-image: url("../img/icon-insta.svg");
    background-size: 16px 16px;
  }

  &--facebook::before {
    background-image: url("../img/icon-fb.svg");
    background-size: 10px 19px;
  }
}

@media (min-width: @tablet-width) {
  .social {
    border: none;
  }

  .social__list {
    width: 255px;

    padding-top: 0;
    padding-right: 50px;
    padding-left: 50px;
  }

  .social__link {
    width: 40px;
    height: 40px;

    margin-left: 11px;

    &--vkontakte::before {
      background-size: 30px 17px;
    }

    &--instagram::before {
      background-size: 25px 23px;
      background-position-x: 75%;
    }

    &--facebook::before {
      background-size: 16px 28px;
    }
  }
}
