.view-all {
  .block-centered(@mobile-width);

  text-align: center;

  padding: 80px 20px 24px;

  .block__border-bottom();
}

.view-all__description {
  font-size: @font-size-link;

  line-height: @line-height-link;

  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 7px;
}

.view-all__slogan {
  .block__description-font(@font-family-arial,12px, 16px, @text-color-grey);

  margin-top: 0;
  margin-bottom: 21px;
}
